DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=tvfr
DATABASE_PASSWORD=tvfr
DATABASE_NAME=tvfr

PORT=3000
NODE_ENV=development

THROTTLE_TTL=60000
THROTTLE_LIMIT=10
ALLOWED_FORWARD=tv-api

TMDB_API_KEY=

ENABLE_CRON=false